piscon.trap.jp {

  handle /api/* {
    reverse_proxy localhost:4000 {
      header_up Host {http.reverse_proxy.upstream.hostport}
    }
  }

  handle {
    reverse_proxy localhost:8080 {
      header_up Host {http.reverse_proxy.upstream.hostport}
    }
  }
}